<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>我的“书屋”</title>
    <link rel="stylesheet" href="../static/index/css/login.css" />
</head>

<body>
<img src="../static/index/images/bgImg.jpg" class="bgImg" />
<div class="content">
    <div class="bidTitle">我的“书屋”登录</div>
    <div class="logCon">
        <form action="/login">
            <div class="line"><span>账号:</span>
                <input class="bt_input" type="text" /></div>
            <div class="line"><span>密码:</span>
                <input class="bt_input" type="text" /></div>
            <button type="submit" class="logingBut">登录</button>
        </form>

    </div>
</div>
</body>

</html>